= f.hidden_field :user_id
%p
  = label_tag 'full_name'
  %br
  = f.text_field :full_name
%p
  = label_tag 'birthdate'
  %br
  = f.text_field :birthdate
%p
  = label_tag 'gender'
  %br
  = f.text_field :gender
%p
  = label_tag 'timezone'
  %br
  = f.text_field :timezone
%p
  = label_tag 'public_birthdate_display'
  %br
  = f.text_field :public_birthdate_display
%p
  = label_tag 'hometown'
  %br
  = f.text_field :hometown
%p
  = label_tag 'political_view'
  %br
  = f.text_field :political_view
%p
  = label_tag 'religious_view'
  %br
  = f.text_field :religious_view
%p
  = label_tag 'parenting_style'
  %br
  = f.text_field :parenting_style