= f.hidden_field :user_id

.col1
  = f.label :full_name, "full name #{required}"
  = f.text_field :full_name

  = f.label :birthdate, "birthday #{required}"
  = f.text_field :birthdate
  = f.select :public_birthdate_display, birthdate_display_options, :include_blank => "Choose public birthdate display"

  = f.label :gender, "sex #{required}"
  = f.select :gender, gender_options, :include_blank => "Select Gender"

  = f.label :timezone, "timezone #{required}"
  = f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, :include_blank => "Choose your timezone"

  = f.label :public, "my profile is #{required}"
  = f.select :public, public_private_options

.col2
  = f.label :photo, "profile picture:"
  = f.file_field :photo, :class => "file"

  = f.label :hometown, 'where i live'
  = f.text_field :hometown

  = f.label :political_view
  = f.text_field :political_view

  = f.label :religious_view
  = f.text_field :religious_view

  = f.label :parenting
  = f.text_field :parenting_style