= f.hidden_field :user_id
%p
  = label_tag 'profile_full_name', 'Your Full Name'
  %br
  = f.text_field :full_name
%p
  = label_tag 'profile_birthdate', 'Birthdate'
  %br
  = f.text_field :birthdate
%p
  = label_tag 'profile_gender', 'Gender'
  %br
  = f.select :gender, gender_options, :include_blank => "Select Gender"
%p
  = label_tag 'profile_timezone', 'Your Timezone'
  %br
  = f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, :include_blank => "Choose your timezone"
%p
  = label_tag 'profile_public_birthdate_display', 'Public Birthdate Display'
  %br
  = f.select :public_birthdate_display, birthdate_display_options, :include_blank => "Choose public birthdate display"
%p
  = label_tag 'profile_hometown', 'Hometown'
  %br
  = f.text_field :hometown
%p
  = label_tag 'profile_political_view', 'Political View'
  %br
  = f.text_field :political_view
%p
  = label_tag 'profile_religious_view', 'Religious View'
  %br
  = f.text_field :religious_view
%p
  = label_tag 'profile_parenting_style', 'Parenting Style'
  %br
  = f.text_field :parenting_style