%p
  = label_tag 'about_me'
  %br
  = f.text_area :about_me
%p
  = label_tag 'what_i_like'
  %br
  = f.text_area :what_i_like
%p
  = label_tag 'what_i_do'
  %br
  = f.text_area :what_i_do
%p
  = label_tag 'favorite_tv'
  %br
  = f.text_area :favorite_tv
%p
  = label_tag 'favorite_music'
  %br
  = f.text_area :favorite_music
%p
  = label_tag 'favorite_sites'
  %br
  = f.text_area :favorite_sites
%p
  = label_tag 'favorite_movies'
  %br
  = f.text_area :favorite_movies
