- new_or_existing = pregnancy_stat.new_record? ? 'new' : 'existing'
- prefix = "prearrival[#{new_or_existing}_pregnancy_stat_attributes][]"

- fields_for prefix, pregnancy_stat do |stat_form|
  %tr
    %td= stat_form.text_field :date
    %td= stat_form.text_field :week
    %td= stat_form.text_field :weight
    %td= stat_form.text_field :weight_gain
    %td= stat_form.text_field :blood_pressure
    %td= stat_form.text_field :stomach_measurement
    %td= stat_form.text_field :baby_heartrate