= error_messages_for :famicle

- form_for @famicle, :html => { :multipart => true }  do |f|
  #general_information
    %h2 About My Famicle
    %fieldset
      %p
        = label_tag 'famicle_name', 'Famicle Name'
        %br
        = f.text_field :name
      %p
        = label_tag 'famicle_description', 'Description:'
        %br
        = f.text_area :description
      %p
        = label_tag 'famicle_public', 'My Famicle is:'
        %br
        = f.select :public, public_private_options
      %p
        = label_tag 'famicle_hometown', 'Famicle Howntown:'
        %br
        = f.text_field :hometown
      %p
        = label_tag 'famicle_most_resemble', 'We most resemble:'
        %br
        = f.select :most_resemble, most_resemble_options, :include_blank => "Select TV/Movie Family"
      - fields_for 'famicle[photo_data]', @famicle.photo do |photo_form|
        %p Photo:
        = image_tag(@famicle.photo.public_filename(:thumb)) unless @famicle.photo.nil?
        = photo_form.file_field :uploaded_data
  = submit_tag 'Save', :disable_with => 'Saving...'